apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: visionops
  labels:
    app: prometheus
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    scrape_configs:
      - job_name: inference
        static_configs:
          - targets: ["inference.visionops.svc.cluster.local:80"]
        metrics_path: /metrics

      - job_name: prometheus
        static_configs:
          - targets: ["localhost:9090"]
