apiVersion: v1
kind: Service
metadata:
  name: mlflow
  namespace: visionops
  labels:
    app: mlflow
spec:
  selector:
    app: mlflow
  ports:
    - name: http
      port: 5000
      targetPort: 5000
      protocol: TCP
  type: ClusterIP
